@model NdhnLesson07.Models.NdhnEmployee

@{
    ViewData["Title"] = "Sửa thông tin nhân viên";
}

<h1>Sửa thông tin nhân viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NdhnEdit" asp-route-id="@Model.NdhnId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NdhnId" class="control-label"></label>
                <input asp-for="NdhnId" class="form-control" />
                <span asp-validation-for="NdhnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdhnName" class="control-label"></label>
                <input asp-for="NdhnName" class="form-control" />
                <span asp-validation-for="NdhnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdhnBirthDay" class="control-label"></label>
                <input asp-for="NdhnBirthDay" class="form-control" />
                <span asp-validation-for="NdhnBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdhnEmail" class="control-label"></label>
                <input asp-for="NdhnEmail" class="form-control" />
                <span asp-validation-for="NdhnEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdhnPhone" class="control-label"></label>
                <input asp-for="NdhnPhone" class="form-control" />
                <span asp-validation-for="NdhnPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NdhnSalary" class="control-label"></label>
                <input asp-for="NdhnSalary" class="form-control" />
                <span asp-validation-for="NdhnSalary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NdhnStatus" /> @Html.DisplayNameFor(model => model.NdhnStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NdhnIndex">Back to List</a>
</div>
